<div class="container-fluid">
    <div class=" head text-center my-5">
        One Platform For Music Creators <br> And Label Studios
    </div>


    <div class="container text-center">

        <div class="">
<img src="../../../assets/image/Group 11201.png" alt="" width="60%" height="250px">
        </div>
    </div>

    <div class="container">
        <div class=" row bg-light py-5">

            <div class=" col-md-6 order-md-first py-3 ps-5">
                <img src="../../../assets/image/Group 11201.png" alt=""  width="100%" height="250px">
            </div>

            <div class="order-md-last col-md-6 ps-5 py-3 ">
                <h4> WHAT DO WE DO</h4>
                <p class="paragraph">Deliver My Tune is the first digital music aggregator from India. Born with the
                    holy-grail to
                    let music
                    amuse, we are connecting indie artists and labels with fans worldwide. Deliver My Tune offers a
                    suite of
                    services and tools to release music globally, from music distribution to music promotion and
                    marketing,
                    and
                    it also helps you amp up your fan base connectivity. The platform is extremely convenient to use and
                    offers
                    a unique user experience. <br><br>

                    Deliver My Tune avail individual artists and music producers get their music on iTunes, JioSaavn,
                    Spotify,
                    Google Play Music, Shazam, other music streaming platforms, and digital music stores. We aim to
                    enable
                    and
                    support music artists’ progress in their careers, without giving away their music rights.</p>
                <button class="btn ">Sign up here</button>
            </div>
        </div>
    </div>

    <div class=" head my-4">
        Offering Full-Suite of Tools And Services For Music Distribution
    </div>

    <div >
        <div class=" row bg-light py-5">

            <div class="col-md-6 ">
                <div class="container tool-services px-5">
                    <div class="d-flex my-3">
                        <div class="">
                            <div
                                style="background-color: #CDE1FF; width:60px; height:60px; border-radius:50%; display: grid; align-items: center; justify-content: center;">
                                <img src="../../../assets/image/Orion_money-bag 1.png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <h5>FREE MUSIC DISTRIBUTION SERVICES</h5>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum viverra
                                etiam.</span>
                        </div>
                    </div>

                    <div style="border-top:1px solid grey; width:90%; opacity:30%;"></div>
                    <div class="d-flex  my-3">
                        <div class="">
                            <div
                                style="background-color: #CDE1FF; width:60px; height:60px; border-radius:50%; display: grid; align-items: center; justify-content: center;">
                                <img src="../../../assets/image/Orion_guide 1.png" width="30px" height="30px" alt="">
                            </div>
                        </div>
                        <div class="">
                            <h5>Keep 100% of the Copyrights and Control</h5>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum viverra
                                etiam.</span>
                        </div>
                    </div>
                    <div style="border-top:1px solid grey; width:90%; opacity:30%;"></div>

                    <div class="d-flex my-3">
                        <div class="">
                            <div
                                style="background-color: #CDE1FF; width:60px; height:60px; border-radius:50%; display: grid; align-items: center; justify-content: center;">
                                <img src="../../../assets/image/Orion_music-folder 1.png" alt="">
                            </div>
                        </div>
                        <div class="">
                            <h5>Artificial intelligence for music mastering</h5>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus ipsum viverra
                                etiam.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="text-center">
                    <img src="../../../assets/image/Group 11201.png" alt="" width="90%">
                </div>
            </div>

        </div>
    </div>

    <div class=" head text-center my-5">
        Deliver My Tune Supports The Young Scholars.
    </div>

    <div class="container para ">
        Manzil Is A Non-profit, Youth-Led Learning Center. Manzil is Providing A Supportive Community And Resources For
        Students To Empower Themselves. One Another Through Learning, Teaching, Creativity And Encouraging Each Other To
        See
        The World In New Ways.
    </div>

    <div class="container">
        <div class="horImage row my-5 text-center">
            <div class=" col-md-4 col-sm-12 my-3 ">
                <img src="../../../assets/image/image34.png" alt="" width="100%">
            </div>
            <div class=" col-md-4 col-sm-12 my-3">
                <img src="../../../assets/image/image35.png" alt="" width="100%">
            </div>
            <div class=" col-md-4 col-sm-12 my-3">
                <img src="../../../assets/image/image36.png" alt="" width="100%">
            </div>
        </div>
    </div>

</div>