.bg-image {
    box-sizing: border-box;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media  screen and (max-width:575px){
    .head{
        font-size: 35px;
        
    }
}
.btn {
    color: #fff;
    background: #FB8E0B;
    border: 1.35px solid #F36905;
    border-radius: 27px;
    height: 40px;
    width: 170px;

}
.image-heading{
    font-size: 30px;
}