<div class="container text-center my-3">
    <h5><span style="color: var(--para);">OUR CHANNEL PARTNERS</span></h5>
    <div class="row py-3">
        <div class="col "><img src="../../../assets/image/hungama.png" alt=""></div>
        <div class="col px-0"><img src="../../../assets/image/savan.png" alt="" width="100px" height="38px">
        </div>

        <div class="col "><img src="../../../assets/image/amazon.png" alt=""></div>
        <div class="col "><img src="../../../assets/image/spotify.png" alt=""></div>

        <div class="col"><img src="../../../assets/image/image 15.png" alt="" ></div>
    </div>
</div>

<div class="w-100 bg-image" style="background-image:url('../../../assets/image/Group\ 11545.png');">
    <div class="w-80 pt-3 image-heading text-center my-4 text-light "><strong> Music Mastering Service <br>
            starts @Rs 99/-</strong> </div>
    <div class="text-center">
        <button class="btn ">Distribute Now</button>
        <span class="ms-4"><a class="text-warning text-decoration-underline" routerLink=""><strong>About
                    us</strong>
            </a></span>
    </div>
    <div class="text-center mb-3 py-4">
        <img src="../../../assets/image/Group 11201.png" alt="" width="50%">
    </div>
</div>


<div class="container py-4">
    <div class="row">
        <div class="col px-3">
            <h3><b> Manage all your songs,<br> release, royalties, reports <br> at one place</b></h3>
            <p>Simple and easy to use dashboard which makes music distribution as easy as running your social
                media
                accounts. Still not convinced? Click the button below</p>
        </div>
        <div class="col">
            <img src="../../../assets/image/Group 11416.png" alt="">
        </div>

    </div>
</div>




<div style="background-image:url('../../../assets/image/Group\ 11545.png');" class=" p-5 my-5 mx-0  bg-image">
    <div class="container">
        <div class="row ms-4 text-light  ">
            <div class="col-md mb-3">
                <h1><b> 24000+ </b></h1>
                <span>
                    Artists distributing music <br>
                    through Deliver My Tune
                </span>
            </div>
            <div class="col-md mb-3">
                <h1><b> 1Mn</b></h1>
                <span>Content pieces distributed <br>
                    Fast turnaround</span>
            </div>
            <div class="col-md mb-3">
                <h1><b> 2500+</b></h1>
                <span>Brands using <br /> Deliver my tunes</span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class=" head text-center my-4  ">
        Our Features </div>

    <div class="row text-center">
        <div class="col">
            <img src="../../../assets/image/Group 11201 (2).png" alt="">
        </div>
        <div class="col">
            <img src="../../../assets/image/Group 11201 (3).png" alt="">

        </div>
        <div class="col">
            <img src="../../../assets/image/Group 11201 (4).png" alt="">

        </div>

    </div>

</div>